{% if is_paginated %}
{% load i18n %}
<div class="pagination btn-group" style="float:right;">
    {% if page_obj.has_previous %}
        <a class="btn" href="?page={{ page_obj.previous_page_number }}{{ getvars }}{{ hashtag }}" class="prev"><i class="icon-backward"></i></a>
    {% else %}
        <a class="btn disabled" class="prev"><i class="icon-backward"></i></a>
    {% endif %}

    {% for page in pages %}
        {% if page %}
            {% ifequal page page_obj.number %}
                <a class="btn disabled">{{ page }}</a>
            {% else %}
                <a class="btn" href="?page={{ page }}{{ getvars }}{{ hashtag }}" class="page">{{ page }}</a>
            {% endifequal %}
        {% else %}
            <a class="btn">...</a>
        {% endif %}
    {% endfor %}
    
    {% if page_obj.has_next %}
        <a class="btn" href="?page={{ page_obj.next_page_number }}{{ getvars }}{{ hashtag }}" class="next"><i class="icon-forward"></i></a>
    {% else %}
        <a class="btn disabled"><i class="icon-forward"></i></a>
    {% endif %}
</div>
{% endif %}
